@import url('https://fonts.googleapis.com/css2?family=Jua&family=Jura:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;                               
 @layer components
{
    @font-face {
        font-family: avanta;
        src: url(assets/Fonts/avanta.otf);
    }
    @font-face {
        font-family: jura;
        src: url(assets/Fonts/jura.ttf);
    }
    body{
        overflow-x: hidden;
        font-family: avanta;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
 
}   