@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Keania+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 @layer components
{
    body{
        overflow-x: hidden;
        font-family: 'Istok Web', sans-serif;;
    }
    .logo
    {
        font-family: 'Keania One', sans-serif;
    }
    .kale
    {
        opacity: 0;
    }
   .nav-brand
   {
    font-family: 'Inspiration', cursive;
   }
   .links
   {
    font-family: 'Inria Sans', sans-serif;
   }
   .mim-text
   {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
   }
   .sale
   {
    font-family: 'Inter', sans-serif;
   }
   .jura
   {
    font-family: 'Jura', sans-serif;
   }
   .navBottom
   {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
   .shado
   {
    background-image: url("./assets/Login/login.jpg");
    background-size: cover;
    transition: 2s;
   }
 
}   