@import url('https://fonts.googleapis.com/css2?family=Jua&family=Jura:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;                               
 @layer components
{
    @font-face {
        font-family: jua;
        src: url(assets/Fonts/jua.ttf);
    }
    @font-face {
        font-family: jura;
        src: url(assets/Fonts/jura.ttf);
    }
    body{
        overflow-x: hidden;
        
    }
    .text
    {
        font-family: jura;
    }
    .header
    {
        font-family: jua;
    }
    .header-bg{
        background-color: rgb(255, 3, 200);
    }
    .text-color{
        color:rgb(255, 3, 200) ;
    }
   .nav-brand
   {
    font-family: 'Inspiration', cursive;
   }
   .links
   {
    font-family: 'Inria Sans', sans-serif;
   }
   .mim-text
   {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
   }
   .sale
   {
    font-family: 'Inter', sans-serif;
   }
   .jura
   {
    font-family: 'Jura', sans-serif;
   }
   .navBottom
   {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
   .shado
   {
    background-image: url("./assets/Login/login.jpg");
    background-size: cover;
    transition: 2s;
   }
 
}   